//////////////////////////////////////////////////////////////////////
//
//  THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF
//  ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED
//  TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
//  PARTICULAR PURPOSE.
//
// This code is released under the Microsoft Public License.  Please
// refer to LICENSE.TXT for the full text of the license.
//
// Copyright © 2010-2012 Tao Yue.  All rights reserved.
// Portions Copyright © 2003 Microsoft Corporation.  All rights reserved.
//
// Adapted from the Text Services Framework Sample Code, available under
// the Microsoft Public License from:
//    http://code.msdn.microsoft.com/tsf
//
//////////////////////////////////////////////////////////////////////


#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources
/////////////////////////////////////////////////////////////////////////////

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
// Version
/////////////////////////////////////////////////////////////////////////////

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Tao Yue"
            VALUE "FileDescription", "PinyinTones text service"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "PinyinTones.dll"
            VALUE "LegalCopyright", "Copyright (C) 2010-2012 Tao Yue"
            VALUE "OriginalFilename", "PinyinTones.dll"
            VALUE "ProductName", "PinyinTones"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
// Icons
/////////////////////////////////////////////////////////////////////////////

IDI_PINYINTONES ICON PinyinTones.ico

IDI_LB_MENU ICON Menu.ico

/////////////////////////////////////////////////////////////////////////////
// About Dialog
/////////////////////////////////////////////////////////////////////////////

IDD_ABOUT DIALOGEX 0, 0, 244, 87
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About PinyinTones"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,187,65,50,14
    LTEXT           "PinyinTones text service for Windows",IDC_STATIC,7,7,121,8
    LTEXT           "Version 0.1.0",IDC_STATIC,7,16,108,8
    LTEXT           "http://pinyintones.codeplex.com/",IDC_STATIC,7,25,108,8

    LTEXT           "Copyright © 2010-2012 Tao Yue.  All rights reserved.",IDC_STATIC,7,40,226,8,SS_CENTERIMAGE
    LTEXT           "Portions Copyright © 2003 Microsoft Corporation.  All rights reserved.",IDC_STATIC,7,49,226,8,SS_CENTERIMAGE
END
